.header-button {
  background-color: inherit;
  border: none;
  color: #fff;
  cursor: pointer;
  transform: scale(0.9);
  transition: all ease 0.15s;
  width: 40px;
  height: 40px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
}

.header-button:hover,
.header-button.active,
.header-button.active:hover {
  transform: translateY(-1px) scale(1);
  color: #1b2f4a;
  background-color: #fff;
}

.button-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-name-text {
  font-size: 0.9rem;
  font-weight: 500;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .user-name-text {
    display: none;
  }
}
