.icon-button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  color: #555;

  height: 32px;
  width: 32px;
  transition: all ease 0.2s;
}

.icon-button:hover {
  background-color: #eee;
  border-radius: 50%;
}

.icon-button.delete:hover {
  color: #f00;
  /* color: #f56565; */
}
.icon-button.retry:hover {
  /* color: #48bb78; */
  color: #25be65;
}
