.icon-button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  color: #a0aec0;
  transform: scale(0.9);
  transition: all ease 0.2s;
}

.icon-button:hover {
  transform: translateY(-1px);
}

.icon-button.delete:hover {
  color: #f56565;
  transform: translateY(-1px);
}
.icon-button.retry:hover {
  color: #48bb78;
  transform: translateY(-1px);
}
